header{
    
    height: 100px;
    background-color: darkgray;
    width: 100%;
    z-index: 12;
}
nav {
    line-height: 100px;
    display: inline-block;
}


.logo{
    margin-left: 18%;
    width: 30%;
    float: left;
    line-height: 100px;
    padding-top: 15px;
}
nav a{
    font-family: bignoodletitling;
    letter-spacing: 5px;
    font-size: 20px;
    margin: 0 20px;
    color: #fff;

}
main{
    margin-left: 18%;

     margin-top: 10px;
}


main section:nth-child(1){
margin: 0 0 25px 0;

}
main section:nth-child(2){
    margin: 0 0 25px 0 ;

}
main section:nth-child(2) img:nth-child(2){
margin: 0 2.15%;    
}

main section:nth-child(3) div:nth-child(1){
    width: 45%;
    float: left;

}
main section:nth-child(3) div:nth-child(2){
margin-right: 18%;
    float: right;
    width: 35%;
    height: 340px;
    overflow-y: scroll;
}
main section:nth-child(3) div:nth-child(3){
    

    margin-right: 18%;
    float: right;
    width: 35%;
   
    
}

footer{

    margin-top: 32%;
    /* position:absolute; */
    bottom: 0;
    background-color: gray;
    height: 90px;
    width: 100%;
    text-align: center;
    
}



